.fadein {
  opacity: 0.001;
  animation: fade-in .75s ease both;
}

.fadein:nth-of-type(1) {
  animation-delay: 0s;
}

.fadein:nth-of-type(2) {
  animation-delay: 0.15s;
}

.fadein:nth-of-type(3) {
  animation-delay: 0.3s;
}

.fadein:nth-of-type(4) {
  animation-delay: 0.45s;
}

.fadein:nth-of-type(5) {
  animation-delay: 0.6s;
}

@media screen and (min-width: 640px) {
  .fadein:nth-of-type(1) {
    animation-delay: calc(var(--animation-delay-home) + 0s);
  }

  .fadein:nth-of-type(2) {
    animation-delay: calc(var(--animation-delay-home) + 0.15s);
  }

  .fadein:nth-of-type(3) {
    animation-delay: calc(var(--animation-delay-home) + 0.3s);
  }

  .fadein:nth-of-type(4) {
    animation-delay: calc(var(--animation-delay-home) + 0.45s);
  }

  .fadein:nth-of-type(5) {
    animation-delay: calc(var(--animation-delay-home) + 0.6s);
  }
}

@keyframes fade-in {
  from {
    opacity: 0.001;
    transform: translateY(.5rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.light {
  border: 5rem inset transparent;
  border-top: 0;
  border-bottom: 70vh inset rgba(255, 255, 255, 1);
  transform: translateX(-50%) rotate(60deg);
  animation: rotate-light 5s infinite 2.5s, light-fade-in 1s ease-out 2.5s both;
}

@keyframes light-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotate-light {
  0% {
    transform: translateX(-50%) rotate(0deg);
  }
  50% {
    transform: translateX(-50%) rotate(-55deg);
  }
  100% {
    transform: translateX(-50%) rotate(0deg);
  }
}

@media screen and (min-width: 640px) {
  @keyframes rotate-light {
    0% {
      transform: translateX(-50%) rotate(0deg);
    }
    35% {
      transform: translateX(-50%) rotate(-85deg);
    }
    70% {
      transform: translateX(-50%) rotate(-45deg);
    }
    100% {
      transform: translateX(-50%) rotate(0deg);
    }
  }
}

@media (prefers-reduced-motion) {
  .bulb {
    animation: none;
  }

  .light {
    animation: none;
  }
}