.fadein {
  opacity: 0.001;
  animation: fade-in .5s ease both;
}

.fadein:nth-of-type(1) {
  animation-delay: 1.00s;
}

.fadein:nth-of-type(2) {
  animation-delay: 1.05s;
}

.fadein:nth-of-type(3) {
  animation-delay: 1.10s;
}

.fadein:nth-of-type(4) {
  animation-delay: 1.15s;
}

@keyframes fade-in {
  from {
    opacity: 0.001;
    transform: translateY(.5rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (min-width: 640px) {
  .pill, .pill::after, .aside::after {
    --navigation-easing: cubic-bezier(0.87, 0, 0.13, 1);
  }

  .pill::after {
    background-color: rgba(229, 229, 229, 1);
    box-shadow: 0 0 1rem 1px rgba(255, 255, 255, 0.35);
    transform: translateY(-50vh);
    transition: top .6s var(--navigation-easing);
    animation: pill-slide 2s var(--navigation-easing) both, pill-pulse 60s var(--navigation-easing) 4s infinite;
  }

  .aside::after {
    content: '';
    position: absolute;
    top: 0;
    right: -1px;
    width: 1px;
    height: 100vh;
    background: linear-gradient(to bottom, transparent, rgb(64, 64, 64) 0%, rgb(64, 64, 64) 90%, rgb(255, 255, 255) 100%);
    background-position-y: -100vh;
    background-repeat: no-repeat;
    animation: border-slide-initial 2s var(--navigation-easing) both, border-slide 60s linear 4s infinite, border-repeat 0s linear 2s both;
  }

  @keyframes border-slide-initial {
    from {
      background-position-y: -100vh;
    }
    to {
      background-position-y: 0vh;
    }
  }

  @keyframes border-slide {
    from {
      background-position-y: 0vh;
    }
    to {
      background-position-y: 100vh;
    }
  }

  @keyframes border-repeat {
    to {
      background-repeat: repeat-y;
    }
  }

  @keyframes pill-slide {
    from {
      transform: translateY(-50vh);
    }
    to {
      transform: translateY(0);
    }
  }

  @keyframes pill-pulse {
    0% {
      background-color: rgba(229, 229, 229, 1);
      box-shadow: 0 0 1rem 1px rgba(255, 255, 255, 0.35);
    }
    24% {
      background-color: rgba(229, 229, 229, 1);
      box-shadow: 0 0 1rem 1px rgba(255, 255, 255, 0.35);
    }
    27% {
      background-color: rgba(255, 255, 255, 1);
      box-shadow: 0 0 2rem 1px rgba(255, 255, 255, 1);
    }
    100% {
      background-color: rgba(229, 229, 229, 1);
      box-shadow: 0 0 1rem 1px rgba(255, 255, 255, 0.35);
    }
  }
}
