@tailwind base;
@tailwind components;
@tailwind utilities;

:root, html, body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  --animation-delay-home: 1s;
  --animation-delay-lab: 1s;
  --animation-delay-writing: 1s;
}

::selection {
  @apply bg-gray-100 text-neutral-800;
}

@media screen and (max-width: 640px) {
  :root, html, body {
    overflow-x: hidden;
  }

  html {
    --animation-delay-home: 0s;
    --animation-delay-lab: 0s;
    --animation-delay-writing: 0s;
  }
}

/* mdx articles */

article > [data-rehype-pretty-code-fragment] pre {
  @apply p-4 bg-neutral-950 rounded-b-md text-sm overflow-auto border-x border-b border-neutral-900;
}

article > [data-rehype-pretty-code-fragment] pre code {
  @apply grayscale contrast-200;
}

article > [data-rehype-pretty-code-fragment] [data-rehype-pretty-code-title] {
  @apply text-neutral-400 text-sm font-mono bg-neutral-1000 py-1 px-4 rounded-t-md border-x border-t border-neutral-900;
}

article > p > code {
  @apply text-sm bg-neutral-950 text-neutral-200 px-2 py-[.0625rem] rounded-md border border-neutral-900;
}

article > p > strong {
  @apply text-neutral-200 font-normal;
}

article > h1,
article > h2,
article > h3,
article > h4,
article > h5,
article > h6 {
  @apply text-neutral-200 font-semibold mt-4;
}

article > h1 {
  @apply text-2xl;
}

article > h2 {
  @apply text-xl;
}

article ul, article ol {
  @apply ml-4 max-w-screen-sm;
}

article ul {
  @apply list-disc;
}

article ol {
  @apply list-decimal;
}

article ul li, article ol li {
  @apply text-neutral-200 pb-2 pl-2;
}

/* mdx articles end */
